.title {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 36px;
}

.container {
    width: 90%;
    height: 72vh;
    min-height: 480px;
    max-height: 550px;
    margin: 15vh auto ;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 2vh;
    display: relative;
    text-align: center;
}

.flexContainerGeneral {
    display: flex;
    justify-content: flex-end; 
    bottom: 0;
    margin-top: 2vh;
}

.flexContainerToRight {
    justify-content: flex-end; 
    padding-right: 5%;
}

.flexContainerCentered {
    justify-content: space-around; 
    padding: 0 5%;
}

.buttonWrapper {
    padding: 0;
    margin: 0;
    display: flex;
}

/* @media  (max-width: 480px) and (min-width: 320px) {
    .container {

    }
} */

@media (max-width: 700px) and (min-width: 481px){
    .container {
        /* background-color: lightcoral; */
        width: 70%;
    }
}
@media (max-width: 1000px) and (min-width: 701px){
    .container {
        /* background-color: yellow; */
        width: 70%;
    }
}
@media (min-width: 1001px) {
    .container {
        /* background-color: lightblue; */
        width: 50%;
        max-width: 750px;
    }
    .flexContainerCentered {
        justify-content: space-evenly; 
        padding: 0 5%;
    }
    .flexContainerToRight {
        justify-content: flex-end; 
        padding-right: 19.2%;
    }
}