@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: Lato, sans-serif;
  background: hsla(69, 78%, 32%, 1);
  background: linear-gradient(225deg, hsla(69, 78%, 32%, 1) 50%, hsla(74, 67%, 61%, 0.9) 100%, hsla(58, 100%, 52%, 1) 100%);
  background: -moz-linear-gradient(225deg, hsla(69, 78%, 32%, 1) 50%, hsla(74, 67%, 61%, 0.9) 100%, hsla(58, 100%, 52%, 1) 100%);
  background: -webkit-linear-gradient(225deg, hsla(69, 78%, 32%, 1) 50%, hsla(74, 67%, 61%, 0.9) 100%, hsla(58, 100%, 52%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7E9012", endColorstr="#BEDE59", GradientType=1 );
}