.title {
    margin-top: 55px;
    font-size: 36px;
    line-height: 1.8;
    width: 90%;
    display: inline-block;
}

.subTitle {
    margin-top: 14px;
    font-size: 20px;
    line-height: 1.5;
    width: 70%;
    display: inline-block;
}

.container {
    width: 90%;
    height: 72vh;
    min-height: 480px;
    max-height: 550px;
    margin: 15vh auto;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* padding-top: 2vh; */
    display: relative;
    padding-top: 20px;
    text-align: center;
}

.flexContainerGeneral {
    display: flex;
    justify-content: flex-end; 
    bottom: 0;
    margin-top: 6vh;
}

.flexContainerCentered {
    justify-content: space-around; 
    padding: 0 5%;
}

@media  (max-width: 480px) and (min-width: 320px) {
    .container {
        padding-top: 10px;
    }
    .title {
        margin-top: 5px;
    }
}

@media (max-width: 700px) and (min-width: 481px){
    .container {
        /* background-color: lightcoral; */
        width: 70%;
    }
}
@media (max-width: 1000px) and (min-width: 701px){
    .container {
        /* background-color: yellow; */
        width: 70%;
    }
}
@media (min-width: 1001px) {
    .title {
        width: 70%;
    }
    .subTitle {
        width: 50%;
    }
    .container {
        /* background-color: lightblue; */
        width: 50%;
        max-width: 750px;
    }
    .flexContainerCentered {
        justify-content: space-evenly; 
        padding: 0 5%;
    }
    .flexContainerToRight {
        justify-content: flex-end; 
        padding-right: 19.2%;
    }
}