.title {
    margin-top: 4vh;
    font-size: 36px;
    width: 90%;
    display: inline-block;
}

.subTitle {
    margin-top: 2vh;
    font-size: 20px;
    width: 90%;
    display: inline-block;
}

.container {
    width: 90%;
    height: 72vh;
    margin: 15vh auto;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 2vh;
    display: relative;
}